<div class="container my-5">
  <h1>Edit Profile</h1>

  <%= form_with model: @account, url: account_path, local: true do |f| %>
    
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" value="<%= current_user.email %>" readonly>
    </div>

    <div class="mb-3">
      <%= f.label :user_name, "Username" %>
      <%= f.text_field :user_name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>

    <%= f.submit "Update Profile", class: "btn btn-success" %>
    <%= link_to "Cancel", account_path, class: "btn btn-link" %>
  <% end %>
</div>
